/* Hamburger Icon */
.hamburger-icon {
    font-size: 2rem;
    cursor: pointer;
    position: fixed;
    top: 15px;
    right: 20px;
    z-index: 19;
    display: none; /* default hidden, shown on small screens */
}

/* Menu Overlay */
.menu-overlay {
    position: fixed;
    top: 0;
    right: -100%;
    width: 100vw;
    height: 100vh;
    background: white;
    transition: right 0.4s ease-in-out;
    z-index: 20;
}

/* Open State */
.menu-overlay.open {
    right: 0;
}

/* Menu Content */
.menu-content {
    position: relative;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center items vertically */
    align-items: center;
    box-sizing: border-box;
}

/* Logo at top-left */
#lgo {
    position: absolute;
    top: 0px;
    left: 20px;
    height: 30vh;
    width: auto;
}
#elm{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1;
}
#diff{
    text-align: center;
}
/* Close Button */
.close-btn {
    position: absolute;
    top: 61px;
    right: 25px;
    font-size: 2rem;
    background: none;
    border: none;
    cursor: pointer;
    z-index: 25;
}

/* Menu Items */
.menu-content ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.menu-content ul li {
    margin: 20px 0;
}

.menu-content ul li a {
    text-decoration: none;
    font-size: 2rem;
    font-weight: bold;
    color: black;
    font-family: "Poppins", sans-serif;
}

/* Responsive: Show hamburger icon on smaller screens */
@media (max-width: 1024px) {
    .hamburger-icon {
        display: block;
        color: white;
    }
    .nav-menu {
        display: none;
    }
    .menu-content ul li a {
        font-size: 1.5rem;
    }
}

/* Hide hamburger icon when menu is open */
.menu-overlay.open + .hamburger-icon {
    display: none;
}
